.location-container {
    width:300px ; 
    height:200px ; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin:20px; 
    background-color: rgb(245, 247, 249);
    text-align: left;
    font-size: 13px;
    border-bottom: 2px solid black ;
}

.location-container h1{ 
    font-size: 13px;
    font-weight: 700;
    padding:10px ; 
}

.location-container p{ 
    letter-spacing: .025em;
    padding-left: 10px;
}

.location-container hr{ 
    width:90% ; 
    border-color: grey;
    color: grey;
    margin: 10px;
}

.location-container address{ 
    width:100% ; 
    padding-top: 10% ;

}

.location-container span{ 
    font-size: 15px;
    letter-spacing: .025em;
    font-weight: 300;
    padding:10px ; 
}
@media (max-width: 767px) {
    .location-container{ 
        width:90% ; 
        height: 50px ; 
    }
}
