.landing-page{ 
    width:100% ; 
    height:auto ; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(245, 247, 249) ; 
}

.hero-section{ 
    width:100% ; 
    height: 100vh;
    background-size: cover;
}
.hero-content{ 
    width:100% ; 
    height: 70% ;
    background: url(https://images.ctfassets.net/7vk8puwnesgc/6Chkl4XmKkDeGjBsf1EMs1/59ee77cd5c845d49539458522bb9da2c/Hero_Large_-_Walking_USandCA.jpg) no-repeat  ; 
    background-size:100% 100% ; 
    /* background-color: black; */
}

.hero-text{ 
    width:100% ; 
    height:100% ; 
    /* background-color: red; */
    background-color: rgba(24, 26, 29, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white ; 
}

.hero-text h1{ 
    font-size: 55px;
    font-weight: bold;
    width:50% ; 
}
.hero-text p{ 
    font-size: 18px;
}
.hero-btn{ 
    padding:15px 70px ; 
    border:0px ; 
    border-radius: 5px;
    margin:10px; 
}

.thread-btn{ 
    background-color: #cdff38;
    color:black; 
    font-weight: bold;
}
.threadp-btn{ 
    background-color: transparent ;
    font-weight: bold;
    color:white ; 
    border:2px solid white ; 
}

.hero-products{ 
    background-color: #f4f7f9;
    width:100% ; 
    height:30% ; 
    display: flex;
    flex-direction: row;
    overflow-x: scroll; 
    align-items: center;
    justify-content: space-around;
}